@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:wght@400;500&display=swap');

html,
body {
    color: black;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#content {
    background: url(../img/splash.jpg) center top;
    height: 100%;
    width: 100%;
    transition: ease-in 0.1s;
}

.blur {
    transform: scale(1.002);
    filter: blur(1px);
    transition: ease-out 1s;
}

.container {
    margin: auto;
    max-width: 1364px;
    text-align: left;
}

.logo {
    width: 175px;
    pointer-events: none;
}

.nav-btn {
    float: right;
}

.btn {
    transform: scale(1);
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border: none;
    background: none;

    /* -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')"; */
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(1.03);
}

button:active {
    transform: scale(0.98);
}

button:after {
    transform: scale(1);
}

.nav-btn.btn:last-child {
    margin-right: 0;
}

#btn-fs {
    background-image: url("/img/fullscreen-opn.png");
    background-size: 50px;
}

#btn-info {
    background-image: url("/img/info.png");
    background-size: 50px;
}

#btn-settings {
    background-image: url("/img/settings.png");
    background-size: 50px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-size: auto 100%;
    margin: auto;
    height: 90px;
    display: flex;
    justify-content: center;
}

.navbar p {
    float: left;
    display: block;
    padding: 0px 25px;
}

.output {
    border-radius: 100px;
    border: solid 15px rgba(54, 54, 54, 0.8);
    background: rgba(119, 91, 50, 0.3);
    color: rgb(255, 242, 208);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 80px auto auto;
    height: 220px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 90px;
    font-family: 'Cinzel', serif;
}

.controls {
    margin: 30px auto auto;
    max-width: 500px;
    padding: 20px 0;
}

.controls button {
    margin: 0 10px;
    border: none;
    border-radius: 30px;
    padding: 15px 0;
    height: 50px;
    width: 100px;
    background-color: transparent;
    background-size: contain;
}

#btn-reset {
    background-image: url("/img/reset.png");
}

#btn-play {
    background-image: url("/img/play.png");
}

#btn-skip {
    background-image: url("/img/skip.png");
}

.top-20 {
    margin-top: 20px;
}

/* Settings Modal */

.settings {
    background: url("/img/modal-bg.png");
    background-color: transparent;
    background-size: contain;
    position: absolute;
    pointer-events: none;
    max-width: 700px;
    height: 550px;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    opacity: 0;
}

.close {
    background-color: transparent;
    background: url("/img/close.png");
    background-size: contain;
    border: none;
    margin-right: 0;
    width: 70px;
    height: 70px;
    float: right;
}

.settings h1, form label {
    font-family: 'Cinzel', serif;
} 

.settings h1 {
    margin: 50px 0px 0px 80px;
}

.settings form {
    text-align: left;
    max-width: 400px;
    height: 300px;
    margin: 20px auto auto;
    line-height: 10px;
}

.label {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.settings form label {
    font-weight: 600;
    font-size: 20px;
}

.settings form input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: -15px;
    padding: 11px 10px;
    width: 80px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.settings a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: block;
    margin-top: 20px;
}

.overlay {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.is-visible {
    opacity: 1;
    pointer-events: auto;
}